/* C:\Users\rc2ju\Documents\VScode_edit\core_5_JS\core_52.1.4_Strings\style.css */

hr {
    border: none;
    height: 2px;
    background-color: cyan;
}

.hr1 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}
.hr1::after {
    background: white; /* none 透明*/
    content: "'🩷'";
    padding: 4px;
    position: relative;
    top: -13px;
}
html {
    font-family: sans-serif;
    font-size:16px;
    max-width: 240px;
    min-width: 160px;
}

/* ex-50.28.4, */
.div1 {
    max-width: 320px;
    min-width: 200px;
    background-color: lightblue;
}
.div2 {
    max-width: 320px;
    min-width: 200px;
    background-color: lightgreen
}
.div3 {
    font-size: 12px;
    color: brown;
    max-width: 320px;
    min-width: 200px;
    background-color: lightpink;
}
.div41, .div42 {
    font-size: 12px;
    color: purple;
    max-width: 320px;
    min-width: 200px;
    background-color: lightyellow;
}
.div51, .div52 {
    font-size: 12px;
    color: brown;
    max-width: 320px;
    min-width: 200px;
    background-color: lightblue;
}
.div61, .div62 {
    font-size: 12px;
    color: blue;
    max-width: 320px;
    min-width: 200px;
    background-color: lightgreen
}
.div7 {
    font-size: 12px;
    color: blue;
    max-width: 320px;
    min-width: 200px;
    background-color: lightpink
}
.div8,
.div8 {
    font-size: 12px;
    color: purple;
    max-width: 320px;
    min-width: 200px;
        background-color: lightyellow;
}            