/* C:\Users\rc2ju\OneDrive\Documents\core_5_JS\core_52.1.2_numbers and operators\style.css */

hr {
    border: none;
    height: 2px;
    background-color: cyan;
}

.hr1 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}
.hr1::after {
    background: white; /* none 透明*/
    content: "'🩷'";
    padding: 4px;
    position: relative;
    top: -13px;
}
html {
    font-family: sans-serif;
}
h3 {
    color: blue;
    font-size:medium
}
#my-canvas {
    border: 1px solid black;
    background-color: lightgray;
}

/* ex-50.20 */
/* ex-50.21 */
.hr2 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}

.hr2::after {
    background: white;
    /* none 透明*/
    content: "'🧡'";
    padding: 4px;
    position: relative;
    top: -13px;
}

/* ex-50.22 */
.hr3 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}

.hr3::after {
    background: white;
    /* none 透明*/
    content: "'💛'";
    padding: 4px;
    position: relative;
    top: -13px;
}

/* ex-50.23 */
.hr4 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}

.hr4::after {
    background: white;
    /* none 透明*/
    content: "'💚'";
    padding: 4px;
    position: relative;
    top: -13px;
}

/* ex-50.24 */
.hr5 {
    border:
        none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}

.hr5::after {
    background: white;
    /* none 透明*/
    content: "'💙'";
    padding: 4px;
    position: relative;
    top: -13px;
}

/* ex-50.25 Sizing a canvas */ 
.hr6 {
    border:
        none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}

.hr6::after {
    background: white;
    /* none 透明*/
    content: "'🐸'";
    padding: 4px;
    position: relative;
    top: -13px;
}

/* ex-50.26 Comparison operetors */
.hr7 {
    border:
        none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}

.hr7::after {
    background: white;
    /* none 透明*/
    content: "'?'";
    padding: 4px;
    position: relative;
    top: -13px;
}
#p1 {
    color: red;
}
.div1 {
    background-color: lightblue; /* divの内側をベタ塗り */
    border: 1px solid #000000;   /* divの外周を幅1pxの十戦で囲う */
    border-radius: 1.0rem; /* <divの四隅をr取り*/
    
    border: 0.4rem outset pink; /* divの内縁に幅0.5remで飛び出してるように見せる縁取り*/
    
    outline: 0.5rem solid khaki; /* divの外縁0.5rem外側に、外周をカーキ色 */
    outline-offset: 0.5rem;

    box-shadow: 0 0 0 0.3rem rgb(6, 94, 129); /* divの外縁に影つけ */

    /* font: bold 1rem sans-serif; html {}　とダブり*/
    margin: 1rem;
    padding: 1rem;
}