/* C:\Users\rc2ju\OneDrive\Documents\core_5_JS\core_52.1_Variables\style.css */

hr {
    border: none;
    height: 2px;
    background-color: cyan;
}

.hr1 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}
.hr1::after {
    background: white; /* none 透明*/
    content: "'🩷'";
    padding: 4px;
    position: relative;
    top: -13px;
}

/* ex-50.4 */
html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 400px;
    min-width: 240px;
    margin: 0 auto;
}

.form input[type="number"] {
    width: 200px;
}

.lastResult {
    color: white;
    padding: 3px;
}

/* ex-50.5 */
/* target the entire heading text color 
#heading_A {
    color: red;
}*/

/* CSS: style the span element */
.count-red {
    color: red;
}

/* ex-50.10 */
.hr2 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}
.hr2::after {
    background: white;
    /* none 透明*/
    content: "'🧡'";
    padding: 4px;
    position: relative;
    top: -13px;
}

.hr3 {
    border: none;
    border-top: 3px double #333333;
    color: #333333;
    overflow: visible;
    text-align: center;
    height: 4px;
    width: 80%;
    background-color: lightgreen;
}
.hr3::after {
    background: white;
    /* none 透明*/
    content: "'💛'";
    padding: 4px;
    position: relative;
    top: -13px;
}